
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        sdfjhlsdjfhladjf

    </div>
</body>
</html>
<script>
    console.log("ldjflajdgfl");
</script>

@section scripts{
    <script src="~/Scripts/Presentation/index.js"></script>
    
}